.container {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 25px;
}

/* icon */
.searchIcon {
	transform: scale(0.8);
	padding-bottom: 15px;
}

/* input */
.searchInput {
	width: 100%;
	padding-bottom: 15px;
	border-bottom: 2px solid var(--gray-300);
}
.searchInput input {
	width: 100%;
	color: var(--gray-400);
	background-color: transparent;
	border: none;
	font-size: 1.1rem;
	font-family: inherit;
	outline: none;
}
